header {
    background-color: white;
}

header > h1 {
    text-align: center;
    margin-bottom: 25px;  
    margin-top: 25px;
    font-size: 50px;
    color: #25272E;
    font-family: silkscreen, 'Courier New', Courier, monospace;
}

body {
    background-color: #cfcfcf;
}

h3 {
    font-family: silkscreen, 'Courier New', Courier, monospace;
}

#gamecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.playerselection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    background-color: #e6e6e6;
    border-radius: 25px;
    margin-top: 25px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0,0.5);
}

.btn {
    font-size: 125px;
    /* border: solid 3px black; */
    margin: 0px 25px 0px 25px;
    padding: 15px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0,0.5);
}

.rock {
    font-size: 100px;
    padding: 45px 15px 14px 40px;
}

.paper {
    margin-right: 0px;
}

.btn:hover {
    transform: scale(1.03);
    text-shadow: 5px 5px 6px rgba(0, 0, 0,0.4);
    cursor: pointer;    
}

.btn:active {
    transform: scale(0.98);
    text-shadow: none;
  }

.playwindow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    width: 550px;
    background-color: #e6e6e6;
    justify-content: space-between;
    border-radius: 25px;
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0,0.5);
}

#playerbox, #botbox {
    height: 120px;
    width: 150px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 85px;
}

#score-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 40px;
    text-align: center;
    font-family: silkscreen, 'Courier New', Courier, monospace;
}

.scorenumbers {
    display: flex;
    font-size: 100;
}

.your-window, .bot-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: silkscreen, 'Courier New', Courier, monospace;
}
